@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");

:root {
    --text-colour: #f8f8f8;
    --background-colour: #121213;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: var(--text-colour);
    background-color: var(--background-colour);
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    width: 100%;
    font-size: 32px;
    padding-top: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.15s ease-in;
}

.grid-container {
    margin-top: 50px;
    width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 40px;
    align-self: center;
    justify-self: center;
}

.game-item-card {
    width: 200px;
    height: 250px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px rgb(58 58 56 / 60%);
    overflow: hidden;
}

.img-container {
    height: 50%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.text-container {
    height: calc(50% - 20px);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #3a3a38;
}

.text-container > h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
}

.text-container > p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
}

.text-container > form > button {
    color: var(--text-colour);
    width: 145px;
    font-size: 16px;
    height: 35px;
    border-radius: 75px;
    border: 1px solid var(--text-colour);
    outline: none;
    background: none;
    transition: 0.25s ease-out;
}

.game-item-card:hover img {
    transform: scale(1.07);
}

.text-container > form > button:hover {
    background-color: #57ac57;
    cursor: pointer;
}
